// body
$bbg:antiquewhite;

// header
$hcc:3;
$hcr:4px red;
$hb: 5px solid black;

// logo
$lw:200px;
$lh:100px;

// slogan
$sfs:40px;
$spt:15px;
$sff:''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;';
$sc:rgb(64, 143, 167);

// login
$lf:right;
$lfs:30px;

// imagee
$iw:80%;
$ih:800px;
$ib:5px solid black;
$ian:img_ani;
$ibi:url("img1.jfif");
$ibr:no-repeat;
$ibs:cover;
$iad:10s;
$iade:3s;
$iaic:50;

// scroll
$sb:5px solid black;
$sw:18%;
$sh:800px;
$sf:right;
$so:hidden;

// foot
$fw:1572px;
$fh:80px;
$fb:5px solid white;
$fcc:2;
$fcr:2px solid white;
$fbc:rgb(71, 65, 65);
$fc:white;

// footer div a
$fdac:white;

// h6
$ht:center;

