$ba : fixed;
$bs : cover;

$h : 3.125em;
$w : 100%;
$t : 0;

$pl : 1.875em;
$fs : larger;
$fw :  900;

$h2 : 7.5em;
// $h2

$pt : 9.375em;
// $w
$g : 10rem;
$cc : 2;

$m : auto;
$bc : whitesmoke;
$h3 : 35.25em;
$w2 : 31.25em;
$br : 0.625em;

// $pl

$ta : center;
$fs2 : xxx-large;
$c : green;

$bxs : border-box;
$d : block;
$h4 : 5em;
// $w
$bw : 0.125em;
$bst : dashed;
$p : 1em;
$o : 1.25em;
// $p
// $c

// $c
$h5 : 2em;
$w3 : 7em;
// $bc

$bc2 : black;
// $bc

// $bc2

$c2 : indianred;

// $m
// $c
// $h3
// $w2
// $br

// $ta
$p2 : 3.875em;

$h6 : 12.5em;
// $h6

$ff : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fs3 : xx-large;
// $o
// $bc

// $ff
$fs4 : large;
// bc

// bc
$b : none;
$p3 : 0.9375em 1.875em;
// $ta
// $b
$d2 : inline-block;
$m2 : 0.25em 0.125em;
$cu : pointer;  //cursor
// $p

// $c

// $bc2

// $bc2
// $h
// $w
// $t

// $bc
// $br


