.LoginPage-bgImg{
    background-image: url('bgImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* padding: 100px; */
    
    
}
.LoginPage-header{
    background-image: url('headerImg.png');
    height: 3.125em;
    width: 100%;
    top: 0;
}
.LoginPage-header-text{
    
    padding-left: 1.875em;
    font-size: larger;
    font-weight: 900;
}
.LoginPage-header-img{
    height: 7.5em;
    width: 7.5em;
}
.LoginPage-grid{
    /* display: grid; */
    padding-top: 9.375em; 
    width:100%;
    gap:10rem;
    column-count: 2; 
}
.LoginPage-grid-1{
    /* grid-column: 1; */
    margin: auto;
    background-color: whitesmoke;
    /* opacity: 0.7; */
    height: 35.25em;
    width:31.25em;
    border-radius: 0.625em;
}
.LoginPage-grid-1-Content{
    padding-top: 1.875em;
    
}

.LoginPage-grid-1-Content-header{
    text-align: center;
    font-size:xxx-large;
    color: green;
   
}
.LoginPage-grid-1-form-box{
    box-sizing: border-box;
    display: block;
    height: 5em;
    width: 100%;
    border-width: 0.125em;
    border-style: dashed;
    padding: 1em;
    outline: 1.25em;
    font-size: 1.0em;
    background-color: green;
    

}

.LoginPage-grid-1-form-botton [type="submit"]{
    background-color: green;
    height: 2em;
    width: 7em;
    color: whitesmoke;
}
.LoginPage-grid-1-form-botton [type="button"]:hover{
    background-color: black;
    color:whitesmoke;
}
.LoginPage-grid-1-forgetPassword{
    color:black;
}
.LoginPage-grid-1-forgetPassword:hover{
    color: indianred;
}
.LoginPage-grid-2{
    /* grid-column: 2; */
    margin: auto;
    background-color:green;
    /* opacity:0.7; */
    height:35.25em;
    width: 31.25em;;
    border-radius: 0.625em;
    /* justify-content: center; */
}
.LoginPage-grid-2-content{
    float: center;
    padding: 3.875em;

}
.LoginPage-grid-2-img{
    height: 12.5em;
    width: 12.5em;    
}
.LoginPage-grid-2-text1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    padding-top: 1.25em;
    color: whitesmoke;
}
.LoginPage-grid-2-text2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    /* padding-top: 20px; */
    color: whitesmoke;
}
.LoginPage-grid-2-button{
    background-color:whitesmoke;
    border: none;
    padding: 0.9375em 1.875em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25em 0.125em;
    cursor: pointer;
    border-radius: 1em;
}
.LoginPage-grid-2-button-text{
    color:green;
}
.LoginPage-grid-2-button-text:hover{
    color: black;
}
.LoginPage-footer{
    background-color: black;
    height: 3.125em;
    width: 100%;
    bottom: 0;
    
}
.LoginPage-footer-text{
    color: whitesmoke;
    padding-top: 0.625em;
}
@media screen and (min-width:300px) and (max-width:600px) {
    .LoginPage-bgImg{
        background-image: url("bgImg2.jpg");
    }
    
}