// lang info

$bgci:lightgreen;
$bi:3px solid red;
$fsi: 30px;
$fsti: italic;
$fci: white;

//founfer info

$bgcf:red;
$bf:3px solid lightgreen;
$fsf: 30px;
$fstf: italic;
$fcf: black;

//img

$hi:150px;
$wi:150px;
$bi:5px solid black;




