@function cal($var1,$var2)
{
    $ans:$var1+$var2;
    @return $ans;
}

$f:right;
$b:10px solid rgb(31, 37, 31);
$h:cal(250,250)+10px;
$w:cal(250,250)+10px;

.founder{
    height: $h;
    width: $w;
    float: $f;
    border: $b;

}




@function newcal($a,$b,$c)
{
    $res:$a*$b*$c;
    @return $res;
}

$nh:newcal(10,5,10);
$nw:newcal(10,5,10);
$bg:10px solid red;

.newcal
{
    height: $nh;
    width: $nw;
    border: $bg;

}